<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandLineParser" version="2.6.0" targetFramework="net461" />
  <package id="Dynamitey" version="2.0.9.136" targetFramework="net461" />
  <package id="EO.Pdf" version="19.2.91" targetFramework="net472" />
  <package id="EO.Pdf.Wpf" version="19.2.91" targetFramework="net472" />
  <package id="EO.Wpf" version="19.2.91" targetFramework="net472" />
  <package id="Extended.Wpf.Toolkit" version="3.6.0" targetFramework="net472" />
  <package id="FSharp.Core" version="4.7.0" targetFramework="net472" />
  <package id="log4net" version="2.0.8" targetFramework="net472" />
  <package id="MaterialSkin" version="0.2.1" targetFramework="net461" />
  <package id="Microsoft.NETCore.Platforms" version="1.0.1" targetFramework="net461" />
  <package id="Microsoft.Toolkit.Wpf.UI.Controls.WebView" version="6.0.0" targetFramework="net472" />
  <package id="Microsoft.Windows.SDK.Contracts" version="10.0.18362.2005" targetFramework="net472" />
  <package id="MoonPdfLib-x86" version="0.3.0" targetFramework="net472" />
  <package id="MouseKeyHook" version="5.6.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net472" />
  <package id="SDL2-CS.dll" version="2.0.0.0" targetFramework="net461" />
  <package id="SharpCompress" version="0.24.0" targetFramework="net461" />
  <package id="SharpDX" version="4.2.0" targetFramework="net461" />
  <package id="SharpDX.DirectInput" version="4.2.0" targetFramework="net461" />
  <package id="SharpDX.XInput" version="4.2.0" targetFramework="net461" />
  <package id="System.Runtime.WindowsRuntime" version="4.6.0" targetFramework="net472" />
  <package id="System.Runtime.WindowsRuntime.UI.Xaml" version="4.6.0" targetFramework="net472" />
  <package id="Tiny.RestClient" version="1.6.4" targetFramework="net472" requireReinstallation="true" />
  <package id="TinyRest-PCL" version="1.8.0" targetFramework="net472" />
  <package id="XamlCSS" version="2.2.0" targetFramework="net472" />
  <package id="XamlCSS.WPF" version="2.2.0" targetFramework="net472" />
</packages>