<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Sonic3AIR_ModManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="Sonic3AIR_ModLoader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <Sonic3AIR_ModManager.Properties.Settings>
            <setting name="Sonic3AIRPath" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoLaunch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KeepOpenOnLaunch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KeepOpenOnQuit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoLaunchDelay" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="PathModeManual" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PathModeAuto" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoUpdates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UserLanguage" serializeAs="String">
                <value>EN</value>
            </setting>
            <setting name="UseDarkTheme" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ShowFullDebugOutput" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisableInGameEnhancements" serializeAs="String">
                <value>False</value>
            </setting>
        </Sonic3AIR_ModManager.Properties.Settings>
        <Sonic3AIR_ModLoader.Properties.Settings>
            <setting name="Sonic3AIRPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="AutoLaunch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KeepOpenOnLaunch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KeepOpenOnQuit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoLaunchDelay" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="EnableNewLoaderMethod" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PathModeManual" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PathModeAuto" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoUpdates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UserLanguage" serializeAs="String">
                <value>EN</value>
            </setting>
        </Sonic3AIR_ModLoader.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="FSharp.Core" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.7.0.0" newVersion="4.7.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SharpDX" publicKeyToken="b4dcf0f35e5521f1" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
